node_modules
bin
.DS_Store
*swp
*.log
*.csv
.project
.pydevproject
build/
xcshareddata/
.idea/
.vscode/
*.iml
local.properties
captures
.externalNativeBuild
/dist/
xcuserdata/
Pods/
*.Framework/
.gradle
gradle/
gradlew
gradlew.bat

